*{
    margin: 0;
    box-sizing: border-box;   
}

.mindscape-main{
    font-family: 'Rubik Vinyl', cursive;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-align: center;
}

.mindscape-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.mindscape-logo img{
    animation: rotate 4s linear infinite;
    width: 528px;
}

.mindscape-info{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 12px;
}

h1{
    font-size: 72px;
}

.contact-email{
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 1000px;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    .mindscape-logo img{
        width: 320px;
    }

    h1{
        font-size: 48px;
    }

    .mindscape-info{
        font-size: 14px;
    }
  }